/* ---------------- */
.res-form-section,
.res-form {
  width: 40%;
}

.res-form {
  margin-top: 1rem;
}

.res-form-title {
  font-size: 2rem;
}

.res-form-description {
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.res-form-title,
.res-form-description {
  text-align: center;
  padding: 0.85rem 0.2rem;
}

.btn-reserve,
.btn-cancel {
  color: #fff;
  cursor: pointer;
  background-color: #96bc4a;
}

.btn-reserve {
  font-size: 1rem;
}

.btn-cancel {
  font-size: 0.928rem;
  width: 50%;
  text-align: center;
}

.reservation {
  display: grid;
  place-items: center;
  margin-top: 10%;
}

.res-swiper {
  width: 33.33%;
}

.d-flex {
  display: flex;
}

.main .swiper-slide {
  height: 100vh;
  width: 100vw;
  display: grid;
  place-items: center;
}

.main .swiper-pagination-fraction,
.main .swiper-pagination-custom,
.main .swiper-horizontal > .main .swiper-pagination-bullets,
.main .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 40% !important;
  left: auto !important;
  right: 20% !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 7px !important;
  width: 0;
}

.spc-btw {
  justify-content: space-between;
}

.h-center {
  justify-content: center;
}

.reserve {
  flex-direction: column;
  margin: 5%;
  align-items: center;
}

.res-detail {
  margin-bottom: 0.8rem;
  border-radius: 8px;
  padding: 12px 16px;
  box-shadow: 2px 2px 2px 2px #ccc;
}

.d-res-image {
  width: 300px;
  height: 200px;
}

.no-reservation {
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
  font-size: 1.5rem;
  color: #a09e9ebe;
}

.r-image {
  width: 300px;
  height: 200px;
  border-radius: 50%;
  justify-content: center;
}

.w-100 {
  width: 100%;
}

.res-form input[type='text'],
.res-form input[type='date'],
.btn-reserve,
.btn-cancel {
  margin: 0.6rem 0;
  padding: 1rem;
  border-radius: 3rem;
  border: 1px solid #ccc;
  border: 1px solid #96bc4a;
  width: 100%;
}

.res-form input[type='text']:focus,
.res-form input[type='date']:focus {
  outline-color: #96bc4a;
}

@media screen and (max-width: 768px) {
  .res-form-section,
  .res-form {
    width: 70%;
  }

  .no-reservation {
    font-size: 1rem;
  }

  .main .swiper-pagination-fraction,
  .main .swiper-pagination-custom,
  .main .swiper-horizontal > .main .swiper-pagination-bullets,
  .main .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 40% !important;
    left: auto !important;
    right: 10% !important;
    display: flex !important;
    flex-direction: column !important;
    gap: 7px !important;
    width: 0;
  }

  .reservation {
    margin-top: 15%;
  }
}
