.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 10rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1.25em;
  transition: all 0.5s ease-in-out;
}

.menu-icon {
  display: none;
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 2rem;
  cursor: pointer;
  z-index: 15;
  border: none;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.menu-icon:focus {
  outline: none;
}

.menu-icon:hover {
  transform: scale(1.1);
}

.principal {
  margin-left: 10rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
}

.menu-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #96bc4a;
  padding-bottom: 1rem;
}

.menu-item {
  transition: all 0.3s ease;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.menu-item:hover {
  background-color: #96bc4a;

  /* border-radius: 0.312em; */
  color: #fff;
}

.menu-header,
.menu-user,
.menu-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 33%;
}

.menu-social {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 33%;
}

.menu-social-item {
  transition: all 0.3s ease;
  cursor: pointer;
}

.menu-social-item:hover {
  transform: scale(1.1);
}

.social-lnk {
  width: 18px;
  height: 18px;
}

.logo {
  width: 7.5rem;
  height: auto;
  border-radius: 10%;
}

.logout {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
  font-size: inherit;
}

.menu-footer-text {
  font-size: 0.75rem;
}

.microverse {
  width: 2rem;
  height: auto;
  border-radius: 50%;
}

.microverse:hover {
  transform: scale(1.1);
}

.hide-menu {
  display: none;
}

.activate {
  animation-duration: 0.5s;
  animation-name: slidein;
  display: flex;
  z-index: 14;
  background-color: #e9e8ef;
}

@keyframes slidein {
  from {
    margin-right: 100%;
    width: 0%;
  }

  to {
    margin-right: 0%;
    width: 10rem;
  }
}

.adjust-principal {
  margin-left: 0;
  margin-top: 1rem;
}

.show-menu-icon {
  display: flex;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
    font-size: 14px;
  }

  .menu {
    display: none;
  }

  .principal {
    margin-left: 0;
    margin-top: 1rem;
  }

  .menu-icon {
    display: flex;
  }

  .activate {
    animation-duration: 1s;
    animation-name: slidein;
    display: flex;
    z-index: 14;
    background-color: #e9e8ef;
  }

  @keyframes slidein {
    from {
      margin-right: 100%;
      width: 0%;
    }

    to {
      margin-right: 0%;
      width: 10rem;
    }
  }
}
