.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 10rem;
  background-color: #ffe;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.principal {
  margin-left: 10rem;
  padding: 1.5rem;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

li {
  transition: all 0.3s ease;
  padding: 5px;
}

li:hover {
  background-color: #d2c7c760;
  border-radius: 5px;
}