* {
  font-family: 'nasa', sans-serif;
}

.login-main {
  display: grid;
  background-color: #1f1f1f;
  height: 100vh;
}

.login-background {
  background-image: url('../../images/login3.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  filter: brightness(0.9);
  position: relative;
}

.form-container {
  width: 100%;
  height: 100%;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100%;
  width: 100%;
  margin-top: 30px;
}

.form-container input[type="email"],
.form-container input[type="password"],
.form-container input[type="text"],
.form-container input[type="number"] {
  padding: 25px 17px;
  margin: 10px 0;
  border: 1px solid #ccc;
  color: #fff;
  width: 100%;
  max-width: 700px;
  background-color: #363636;
}

.inf-wrap {
  position: absolute;
  bottom: 10%;
  left: 5%;
}

.inf-wrap h4 {
  font-size: 1.4rem;
}

.inf-wrap p {
  font-size: 0.8rem;
  margin: 10px 0;
  font-weight: 200;
}

.inf-wrap a {
  padding: 9px 15px;
  background-color: #fff;
}

.form-container input[type="password"] {
  margin-bottom: 30px;
}

input::placeholder {
  color: #d1d6dc;
}

.form-container button[type="submit"] {
  background-color: #ed1c24;
  color: #fff;
  padding: 20px 14px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  max-width: 700px;
  font-size: 1.5rem;
}

.login-bottom {
  margin-top: 5%;
  display: flex;
  gap: 10px;
}

.form-logo {
  display: none;
}

@media (max-width: 767px) {
  .login-main {
    grid-template-rows: 1fr 2fr;
    padding: 60px 20px;
  }

  .form-wrapper {
    margin-top: 30px;
  }

  @media (min-width: 480px) {
    .login-main {
      padding: 60px;
    }
  }
}

@media (min-width: 768px) {
  .login-main {
    grid-template-columns: 1fr 1fr;
  }

  .login-background {
    background-size: 138% 100%;
    filter: brightness(1.5);
  }

  .form-container {
    padding: 60px;
  }

  .form-wrapper {
    justify-content: center;
  }

  .inf-wrap h4 {
    font-size: 1.8rem;
  }

  .form-logo {
    display: block;
    font-family: 'ferro', sans-serif;
    font-size: 2rem;
  }
}

@media (min-width: 1300px) {
  .login-background {
    background-size: 100% 100%;
  }

  .login-title {
    font-size: 2.2rem;
  }
}

@media (min-width: 1800px) {
  .form-container {
    padding-left: 6rem;
  }
}
